################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client_PM_03/.vs/Client_PM/v15/Server/sqlite3/db.lock
/Client_PM_03/.vs
/Client_PM_03/.bin
/Client_PM_03/obj

