<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client_PM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Client_PM.Properties.Settings>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="NotMyPhoto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstInit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DimensionPagePrincipale" serializeAs="String">
                <value>1626, 928</value>
            </setting>
            <setting name="PosPagePrincipale" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MiseEnPage" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="PosListeNoire" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DimensionCarousel" serializeAs="String">
                <value>1824, 1106</value>
            </setting>
            <setting name="LocationCarousel" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DimensionCarouselCommandes" serializeAs="String">
                <value>374, 472</value>
            </setting>
            <setting name="LocationCarouselCommandes" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationPageConnexion" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationPageEditionUser" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationPageEditCarousel" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="DimensionPageEditCarousel" serializeAs="String">
                <value>1448, 747</value>
            </setting>
            <setting name="IntervalleCarousel" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="LocationPageAide" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationPageGestionPhoto" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationPageInfoPhoto" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DimensionPageInfoPhoto" serializeAs="String">
                <value>823, 618</value>
            </setting>
            <setting name="DimensionPageGestionPhoto" serializeAs="String">
                <value>997, 722</value>
            </setting>
        </Client_PM.Properties.Settings>
    </userSettings>
</configuration>